{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="display-4 mb-4">Welcome {{ user.username }}!</h1>
        <p class="lead">You are logged in.</p>

        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-folder"></i> Projects</h5>
                        <p class="card-text">Manage your projects and tasks.</p>
                        <a href="{% url 'projects' %}" class="btn btn-primary">Go to Projects</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-gear"></i> Config</h5>
                        <p class="card-text">Configure application settings.</p>
                        <a href="{% url 'config' %}" class="btn btn-primary">Go to Config</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}